@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #00030C;
    --button-fill-color: #167bf7;
    --button-action-color: #ec2f46;

    --header-text-color: #fff;
    --regular-text-color: #f9f9f9;
    --footnote-text-color: #c0c0c0;

    --primary-font-family: 'Inter', sans-serif;
    
    --big-heading-font-size: 3rem;
    --medium-heading-font-size: 2rem;
    --small-heading-font-size: 1.75rem;
    --regular-font-size: 1rem;
    --footnote-font-size: 0.875rem;

    --regular-font-weight: 400;
    --bold-font-weight: 700;
}

body {
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--regular-text-color);
    font-family: var(--primary-font-family);
    font-weight: var(--regular-font-weight);
    font-size: var(--regular-font-size);
}

.container {
    display: flex;
    width: 100vw;
    height: 47vw;
    align-items: center;
}

.main {
    background-image: url('./assets/background.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.secondary {
    text-align: left;
    padding: 10vw;
    gap: 5vw;
    height: auto;
}


.container__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    padding: 3.75%;
    gap: 1rem;
}

.container__title {
    color: var(--header-text-color);
    font-size: var(--small-heading-font-size);
    font-weight: var(--bold-font-weight);
}

.container__img {
    margin-top: 0.4rem;
    margin-bottom: 1rem;
}

.secondary__img {
    width: 35vw;
}

.container__button {
    color: var(--header-text-color);
    background-color: var(--button-fill-color);
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 85%;
}

.secondary__button {
    background-color: transparent;
    border: 1px solid var(--header-text-color);
}

.tertiary__button {
    text-align: center;
    width: fit-content;
}

.container__footnote {
    color: var(--footnote-text-color);
    font-size: var(--footnote-font-size);
    text-align: center;
}

.container__description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 40%;
    /* margin-right: 8vw; */
}

.description__title {
    color: var(--header-text-color);
    font-size: var(--big-heading-font-size);
    font-weight: var(--bold-font-weight);
}

.description__text {
   color: var(--regular-text-color); 
}

.devices {
    flex-direction: column;
}

.device__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.device__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.device__name {
    color: var(--header-text-color);
    font-family: var(--primary-font-family);
    font-weight: var(--bold-font-weight);
    font-size: var(--medium-heading-font-size);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 8%;
    gap: 1.5rem;
}

.footer__img {
    margin-bottom: 1.5rem;
}

.footer__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.footer__nav__item {
    color: var(--header-text-color);
    font-size: var(--regular-font-size);
    font-weight: var(--regular-font-weight);
}
